.text-primary{
    color:$primary-color;
}

.bg-primary{
    background-color:$primary-color;
}

view{
    box-sizing: border-box;
}

.h-fit{
    height: fit-content;
}

.nut-button--square{
    border-radius: 6px;
}